{% extends 'masters/main.html' %}
{% load staticfiles %}


{% block content %}

{% for tune in tunes %}
  <div class="row center">
    <a class="btn-large waves-effect waves-light teal darken-2"
       href="#"
       onclick="
       var audioFile = $('.tune_audio').get({{ forloop.counter }} - 1);
       audioFile.paused ? audioFile.play() : audioFile.pause();
       ">
       Switch {{ forloop.counter }}. {{ tune.name }}
    </a>
    {% if tune.path %}
    <audio class="tune_audio" preload="auto" onplaying="$.get('{% url 'tunes:play' forloop.counter %}');" onpause="$.get('');">
        <source src="{% static tune.path %}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
    {% endif %}
  </div>
{% endfor %}

<form action="/tunes/playmusic/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

{% if is_playing %}
  <div class="row center">
    <a class="btn-large waves-effect waves-light teal darken-2" href="{% url 'tunes:stopmusic' %}">Stop Audio</a>
  </div>
{% endif %}

{% endblock %}
